@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Scroll the entire width of the container */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite; /* 20 seconds, infinite loop */
}